.facebook-style{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 50px;
  margin: 0;
}
